
 <!-- Filtros -->
 <div class="flex gap-4 mb-6">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (ngModelChange)="applyFilters()"
    placeholder="Buscar productos..."
    class="input input-bordered w-full max-w-xs"
  >
  <select
    [(ngModel)]="selectedCategory"
    (ngModelChange)="applyFilters()"
    class="select select-bordered"
  >
    <option value="">Todas las categorías</option>
    <option *ngFor="let category of categorys" [value]="category.id">{{ category.name }}</option>
  </select>

</div>

<!-- Tabla -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <!-- Loading -->
  <tr *ngIf="loading">
    <td colspan="7">
      <div class="p-4 flex items-center justify-center">
        <span class="loading loading-spinner text-primary"></span>
        <span class="ml-2">Cargando productos...</span>
      </div>
    </td>
  </tr>

  <!-- Error -->
  <tr *ngIf="error">
    <td colspan="7">
      <div class="alert alert-error">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>Error cargando los productos: {{ errorMessage }}</span>
      </div>
    </td>
  </tr>

  <div *ngFor="let product of paginatedProducts" class="flex justify-center ">
    <div 
    (click)="product.id &&  onProductClick(product.id)"
    class="card bg-base-100 w-64 shadow-xl hover:shadow-2xl cursor-pointer">
      <figure class="p-4">
        <img [src]="getSafeImageUrl(product.photo || '')" [alt]="product.name" class="rounded" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div> 

  <!-- Paginación -->
  <div class="join mt-4">
    <button
      *ngFor="let page of totalPages | range"
      class="join-item btn"
      [class.btn-active]="currentPage === page"
      (click)="currentPage = page"
    >
      {{ page }}
    </button>
  </div>

